.subTab {
  display: flex;
  gap: 5px;
  margin-bottom: 2rem;
  li {
    background-color: antiquewhite;
    padding: 10px 15px;
    border-radius: 1rem;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: red;
      font-weight: bold;
    }
  }
}

.box {
  padding: 15px;
  background-color: #d9d9d9;
  border-radius: 5px;
  + p {
    margin-top: 10px;
  }
}
