.subTab{
  display: flex;
  gap: 5px;
  margin-bottom:2rem;
  li{
    background-color: antiquewhite;
    padding: 10px 15px;
    border-radius:1rem;
    font-weight: normal;
    cursor: pointer;
    &:hover{
      background-color: #ddd;
    }
    &.active{
      background-color: red;
      font-weight: bold;
    }
  }
}

.bottom{
  position: fixed;
  left:0;
  bottom:0;
  background-color: #ffffff;
  width:100%;
  padding:10px;
  border-top:2px solid #ddd;
}

.btnWrapFull{
  margin-bottom:150px;
}