.code{
  background-color:#333;
  padding: 20px;
  display: block;
  color:#fff;
  border-radius: 10px;
  line-height: 1.7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  span{
    color: gold;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
  }
}
.input{
  height:18px;
  vertical-align: center;
  margin: 0 5px;
  padding: 5px;
  border:0;
  background-color: #222;
  color:#fff;
  outline: 0;
  :active{
    background-color: #777;
  }
}

.box{
  padding: 20px;
  border: 2px solid #333;
}
