@import "../../../styles/variables";
@import "../../../styles/mixin";

#{$tit} {
  padding: 0.5rem 0;
  &.dep01 {
    @include fontSize("xxl");
  }
  &.dep02 {
    @include fontSize("lg");
    &.type2 {
      color: $color-blue2;
    }
  }
  &.dep03 {
    @include fontSize("md");
  }
  &.dep04 {
    @include fontSize("s");
  }
  &.dep05 {
    @include fontSize("xs");
  }

  &.sub {
    padding: 0;
    @include fontSize("s");
    @include webfont("NotoSansKR", 400);
  }
  & > .headcopy {
    margin-top: 1.5rem;
    @include fontSize("base");
    @include webfont("NotoSansKR", 400);
  }
}
