@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideInTop {
  from {
    top: -17.5%;
  }
  to {
    top: 0;
  }
}

@keyframes slideOutTop {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes slideInLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideOutLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes slideInBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: -82.5%;
  }
}

@keyframes slideOutBottom {
  from {
    bottom: -82.5%;
  }
  to {
    bottom: -100%;
  }
}

.animation {
  &._fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &._slideIn-top {
    animation-name: slideInTop;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &._slideOut-top {
    animation-name: slideOutTop;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &._slideIn-left {
    animation-name: slideInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &._slideOut-left {
    animation-name: slideOutLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &._slideIn-bottom {
    animation-name: slideInBottom;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &._slideOut-bottom {
    animation-name: slideOutBottom;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
